.root {
    height: 50vh;
}

.right {
    padding-left: 20px;
    border-left: 2px rgb(241, 243, 245) solid;
}

.left {
    padding-right: 20px;
}

.carItem {
    cursor: pointer;
    padding: 6px;
    border-radius: 8px;
    border: 2px solid rgb(241, 243, 245);
    background-color: rgb(241, 243, 245);
}

.selected {
    background-color: rgb(225, 236, 247);
    border: 2px solid #228be6;
}

.addBtn {
    border-width: 2px;
}

.onAddBtn {
    margin-top: 20px;
}