.root {
    --modal-size: 90vw;
    max-width: 100px;
}

.mContent {
    position: relative;
    padding: 0 20px 20px 20px;
    height:80vh;
}

.content {
    height: 100%;
    max-width: 1000px;
    min-width: 1000px;
    align-self: center;
}

.actions {
    position: absolute;
    right:    36px;
    bottom:   36px;
}